$GoldFusion: #727955;
$Sage: #c5bfa3;
$White: #ffffff;
$Beige: #f0f0e0;
$MaximumYellowRed: #f6c45f;

$GoldFusionLight: #f5f6f2;
$GoldFusionDark: #080906;

$GoldFusionDark50: rgba(8, 9, 6, 0.5);
$GoldFusionDark25: rgba(8, 9, 6, 0.25);
